.container-box {
    background-color: #e6e6e69e;
    opacity: 0.7;
    min-height: 55vh;
    box-shadow: 0px -3px 8px #0000003d,
                0px 3px 8px #0000003d;
}

/* box-shadow: inset(opcional) directX directY nitidezSombra tamanhoSombra color*/
/* box-shadow: 
rgba(0, 0, 0, 0.25) 0px 54px 55px, 
rgba(0, 0, 0, 0.12) 0px -12px 30px, 
rgba(0, 0, 0, 0.12) 0px 4px 6px, 
rgba(0, 0, 0, 0.17) 0px 12px 13px, 
rgba(0, 0, 0, 0.09) 0px -3px 5px; */
